[defaults]
collections_path=collections:/home/ansible/.ansible/collections:/usr/share/ansible/collections
roles_path=roles:/usr/share/ansible/roles:/etc/ansible/roles

ask_pass=False
inventory=inventory
remote_user=ansible

[privilege_escalation]
become=False
become_ask_pass=False
become_method=sudo 
become_user=root

